a.out
bazarek.in
baz.cpp
cmake-build-debug
CMakeLists.txt
matryca.cpp
matryca.in
matryca_takie_dame.in
mecz.cpp
sorkom.cpp
test_kin2.in
test_kin.in
test_mecz1.in
test_mecz2.in
test_sor1.in
test_sor2.in
.idea
